<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><b>Your Appointment is Confirm with: </b></p>
    <p> Dr. <%= @therapist.name %>
    <p> Contact No: <%= @therapist.contact_no %>
    <p> Specialization: <%= @therapist.specialization %>
    <p> Timing: <%= @therapist.available_time_to %>
  </body>
</html>