<div class="row">
  <%= render partial: 'shared/personal_info' %>
  
  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the Healthcare
      </h4>
    </div>
    <% if @therapists.present? %>
      <div class="card col" style="width: 50rem;">
        <%= link_to patient_therapists_path(@current_patient.id) do %>
          <div class="card-body">
            <h5 class="card-title">Therapist Available</h5>
            <h6 class="card-subtitle mb-2 text-muted">HealthCare</h6>
            <p class="card-text">Number of doctor Available.<br>
              <%= @therapists.count %></p>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="text-muted">
        The are no therapist
      </div>
    <% end %>
  </div>
</div>