<div class="alert alert-primary">
  <h6 class="alert-heading">
    Before Book the Appoinment please complete your details first. 
  </h6>
</div>
<h4>
  Registration
</h4>

<div class='col-sm-6'>
	<%= render partial: 'form' %>
</div>